body {
padding: 0;
margin: 0;
}
html, body, #map {
height: 100%;
width: 100vw;
}

.main-button{
margin-top: 5px;
height: 75px;
width: 300px;
font-size: 24px;
font-family: MyriadPro;
background-color: #F0B4B4;
border: 2px solid black;
}

.plot-button{
margin-top: 5px;
margin-bottom:5px;
height: 75px;
width: 300px;
font-size:24px;
font-family: MyriadPro;
background-color: #F07878;
border: 2px solid black;
}



.main-sep-line{
height: 5px;
background: #3C3C3C;
}