<!doctype html>
<html lang="en">

<head>
  <title>Flask Leaflet Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="static/js/leaflet-providers.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>


</head>

<body>
<!--
<ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('station_metrics') }}">Station metrics</a></li>
            <li><a href="{{ url_for('hospital_metrics') }}">Hospital metrics</a></li>
            <li><a href="{{ url_for('employment_metrics') }}">Employment metrics</a></li>
          </ul>
-->
<div>
<button class = "main-button" type="button" onclick="location.href= '/'" >Cost from station</button>
<button class = "main-button" type="button" onclick="location.href= {{ url_for('station_metrics') }}">Station accessibility</button>
<button class = "main-button" type="button" onclick="location.href= {{ url_for('hospital_metrics') }}">Hospital accessibility</button>
<button class = "main-button" type="button" onclick="location.href= {{ url_for('employment_metrics') }}">Employment accessibility</button>
<button class = "main-button" type="button" onclick="location.href= {{ url_for('cost_exclusion_index') }}" disabled>Cost exclusion index</button>
<hr class = "main-sep-line">

<p style = "font-size: 24px" "font-family: MyriadPro"> Experimental index combining cost of rail journeys, index of multiple deprivation, and accessibility (by cost) of selected destinations. 
<br><br>
<select id="dropdown-budget" method="GET" action="/">
    {% for budget in budgets%}
    <option value= "{{budget}}" BUDGET>{{budget}}</option>"
    {% endfor %}
</select>
<br><br>
<button class = "plot-button" id="station-button">Retrieve and plot the data</button>
</div>
<div id="map" style= "width:95% "></div> 



<script>

var map = L.map('map').setView([52, 0], 7);
L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v10/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZmVkZWJvdHRhIiwiYSI6ImNsNnZzZmx1bDA0aXozYnA5NHNxc2oxYm4ifQ.NH-kHQqlCLP3OVnx5ygJlQ', {
attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
preferCanvas: true
}).addTo(map); 



var markersLayer = new L.LayerGroup();

function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupText) {
        layer.bindPopup(feature.properties.popupText);
    }
};

d3.select('#station-button')
    .on("click", function(){
    var budget_selected = d3.select("#dropdown-budget").node().value;
            
    jQuery.ajax({
         url: "/PlotCTRSE",
         data: {"budget": budget_selected},
         type: 'POST',
         success: function(data){
         markersLayer.clearLayers();
         L.geoJSON( jQuery.parseJSON(data.data), {
          style: function(feature){
return {fillColor: feature.properties.marker_colour, weight: 0, fillOpacity: 0.8}},

    onEachFeature: onEachFeature
}).addTo(markersLayer);
         
        markersLayer.addTo(map);
         }
     })
     
    });
</script>
</body>

</html>